{% if ansible_os_family == 'Debian' %}
deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] {{ jenkins_repo_url }} binary/
{% elif ansible_os_family == 'RedHat' %}
[jenkins]
name=Jenkins
baseurl={{ jenkins_repo_url }}
gpgcheck=1
gpgkey={{ jenkins_gpg_dest }}
enabled=1
{% endif %}

